@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgb(7, 9, 83) 0%,
    rgba(85, 2, 110, 1) 100%
  );
  color: #fff;
}
header {
  margin: 5%;
}
#conferir-dado {
  cursor: pointer;
  border: 2px solid #0d2cc9bf;
  max-width: 10%;
  padding: 0.5%;
  text-align: center;
  border-radius: 10px;
}
#conferir-dado:hover {
  box-shadow: 0 0 17px #34438e;
}

nav {
  display: flex;
  align-items: center;
  font-family: "roboto", sans-serif;
  font-style: italic;
}
section {
  font-family: "Nunito", sans-serif;
  margin-bottom: 3%;
}
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 60vw;
  border: 2px solid #6f05a9;
  border-radius: 15px;
  padding: 10px;
}
ul li {
  list-style-image: url("download.jpeg");
}
